{%load static%}

<!DOCTYPE html>

<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    {% load widget_tweaks %}
    {%block head%}{%endblock%}
    <title>Fortex S.R.L. - {%block title%}{%endblock%}</title>

    <style>
    body{background-color:#f7f7f7;
    }




    </style>
</head>

<body>


{% include 'register/navbar.html'%}


    {% if messages %}
    <ul class="messages list-group mb-3">
        {% for message in messages %}
        <li
                {% if message.tags %}
                class="{{ message.tags }} rounded list-group-item text-center list-group-item-success mr-1" {%endif %}
                id='Mensaje'>{{ message }}
        </li>
        {% endfor %}
    </ul>
    {% endif %}


<div class="container-fluid   ">
    <div class="row ">
        <div class="col-md-8">
            <div class="card m-2 text-center m-3 border" id="Carta"
                 style="height:97%;border-radius:30px; box-shadow:2px 2px 10px #666;">
                <div class="card-title">
                    <h1 class="card-title" style="text-shadow:2px 2px 10px #666;">GRAFICOS</h1>
                </div>
                <div class="card-body">
                    {%block graficos%}{%endblock%}
                </div>
            </div>
        </div>
        <div class="col-md-3 ml-5 ">
            <div class="card text-center mt-3 border"
                 style="margin-right:-2rem;border-radius:30px; box-shadow:2px 2px 10px #666;">
                <div class="card-title">
                    <h1 class="card-title " style="margin-bottom:-.5rem; text-shadow:2px 2px 10px #666;">TOTAL</h1>
                    <hr class="mr-2 ml-2">
                </div>
                <div class="card-body" style="padding:0rem;">
                    <h2 class="mb-5 container"><strong>{%block total%}{%endblock%}</strong></h2>
                </div>
            </div>
            <div class="card text-center mt-3 border" id="Filtros"
                 style="margin-right:-2rem;border-radius:30px; box-shadow:2px 2px 10px #666;">
                <div class="card-title">
                    <h1 class="card-title" style="margin-bottom:-.5rem; text-shadow:2px 2px 10px #666;">FILTROS</h1>
                    <hr class="mr-2 ml-2">
                </div>
                <div class="card-body" style="padding:0rem;">
                    <h5 class="mb-5"><strong>{%block filtros%}{%endblock%}</strong></h5>
                </div>
            </div>
        </div>
    </div>
    <!-- fin de primer row comienzo del segundo-->

    <div class="row ">
        <div class="col">
            <div class="card m-2 text-center m-3 border" style="border-radius:30px; box-shadow:2px 2px 10px #666;">
                <div class="card-title">
                    <h1 class="card-title" style="text-shadow:2px 2px 10px #666;">
                        {%block tituloListado%}{%endblock%}</h1>
                </div>
                <div class="card-body align-center ">
                    <table id="tabla" class="table-striped table-bordered table-responsive-md">
                        <thead class="thead text-center">
                        {% block thead%}{%endblock%}
                        </thead>
                        {%block formulario%}{%endblock formulario%}

                    </table>
                    {%block pagination%}{%endblock%}
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col">
        <div class="card text-center block w-auto ">
            <div class="card-body border p-2 rounded bg-secondary">
                <STRONG><h4>@COPYRIGHT SBRITOS</h4></STRONG>
            </div>
        </div>
    </div>
</div>

</body>
</html>


<!--TODO agregar totales a cada vista-->