{%extends 'register/baseRegistro.html'%}
{%load static%}
{% load widget_tweaks %}


{%block head%}

<style>
	.btn{
	width:70%}



</style>
{%endblock%}

{%block title%}Detalle{%endblock%}

{%block jumbo%}DETALLE DE CLIENTE {{object.first_name}}{%endblock%}

{%block content%}

<div class="row ">
    <div class="col">
        <div class="card m-2 text-center m-3 border" style="border-radius:30px; box-shadow:2px 2px 10px #666;">
            <div class="card-title">
                <h1 class="card-title" style="text-transform:uppercase;text-shadow:2px 2px 10px #666;">
                    DETALLE DE {{object.first_name}}</h1>
            </div>
            <div class="card-body align-self-center">
                <table class="table table-responsive ">
                    <thead class="thead text-center ">

                    <th>Id</th>
                    <th>Nombre</th>
                    <th>Apellido</th>
                    <th>Nombre de usuario</th>
                    <th>Teléfono</th>
                    <th>Email</th>
                    <th>Grupo</th>
                    <th>Miembro activo</th>
                    <th>Ver Administrador</th>
                    <th>Fecha de registro</th>
                    <th>Último acceso</th>
                    </thead>


                   <form method="POST" action="/Registro/delete/{{object.id}}">
                    {% csrf_token %}
                    <tr>
                        <td>{{object.id}}</td>
                        <td>{{object.first_name}}</td>
                        <td>{{object.last_name}}</td>
                        <td>{{object.username}}</td>
                        <td>{{object.telefono}}</td>
                        <td>{{object.email}}</td>
                        <td id="grupo"></td>
                        <td id="is_active">{{object.is_active}}</td>
                        <td id="is_staff">{{object.is_staff}}</td>
                        <td>{{object.date_joined}}</td>
                        <td>{{object.last_login}}</td>


                    </tr>
                </form>

                </table>

                {% if perms.Register.Administrador or perms.Register.Encargado or perms.Register.Secretaria %}

                <div class="row">
                    <div class="col">
                        <div class="col-md text-center mb-3">
                            <a href="/Registro/update/{{object.id}}"
                               class="btn btn-warning btn-xs rounded-pill border  m-3"><strong>EDITAR</strong></a>
                        </div>
                    </div>
                    {%endif%} {% if perms.Register.Administrador %}

                    <div class="col">
                        <div class="col-md text-center mb-3">
                            <button class="btn btn-danger btn-xs rounded-pill border  m-3" data-toggle="modal"
                                    data-target="#exampleModal"
                                    type="submit"><strong>ELIMINAR</strong></button>
                        </div>
                    </div>
                    {%endif%}
                    <div class="col">
                        <div class="col-md text-center mb-3">
                            <a href="javascript:history.back(-1);"
                               class="btn btn-secondary btn-xs rounded-pill border border  m-3"><strong>VOLVER</strong></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog"
     aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exa mpleModalLabel">ELIMINAR</h5>
                <button type="button" class="close" data-dismiss="modal"
                        aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                ¿Seguro de eliminar este producto?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary rounded-pill" data-dismiss="modal">
                    Cerrar
                </button>
                <button type="submit" class="btn btn-danger rounded-pill">Si, adelante</button>
            </div>
        </div>
    </div>
</div>







    <script type="text/javascript">
	var grupo = "{{object.groups.all}}";
	var entrega = grupo.slice(25,-9);
	document.getElementById('grupo').innerHTML = entrega;
	var staff = document.getElementById('is_staff').innerText;
	var activo = document.getElementById('is_active').innerText;

	if(staff == 'True'){
		document.getElementById('is_staff').innerHTML = 'Si'
	}else{
		document.getElementById('is_staff').innerHTML = 'No'
	}
		if(activo == 'True'){
		document.getElementById('is_active').innerHTML = 'Si'
	}else{
		document.getElementById('is_active').innerHTML = 'No'
	}

    </script>
    {%endblock%}