{%extends 'register/base.html'%}
{%load static%}
{% load widget_tweaks %}

{%block title%}Detalle{%endblock%}

{%block head%}
<style>
	.btn{
	width:70%}
</style>
{%endblock%}

{%block jumbo%}DETALLES DE USUARIOS{%endblock%}
{%block content%}
<div class="container-fluid">

<div class="row ">
    <div class="col">
        <div class="col-md">

        </div>
    </div>

<div class="list-group mt-3 bg-white border rounded-lg">
	<table class="table table-striped table-hover rounded-lg border table-sm">

		<thead class="thead-dark text-center rounder-lg">
			<th>id</th>
			<th>Nombre</th>
			<th>Apellido</th>
			<th>Nombre Usuario</th>
			<th>Telefono</th>
			<th>Email</th>
			<th>Grupo</th>
			<th>Miembro Activo</th>
			<th>Es Staff</th>
			<th>Fecha de Ïngreso</th>
			<th>Última Conexión</th>




		</thead>
		<tbody class="thead-light text-center">

		<form method="POST" action="/Registro/delete/{{object.id}}">
        				{% csrf_token %}
			<tr>
				<td>{{object.id}}</td>
				<td>{{object.first_name}}</td>
				<td>{{object.last_name}}</td>
				<td>{{object.username}}</td>
				<td>{{object.telefono}}</td>
				<td>{{object.email}}</td>
				<td id="grupo" ></td>
				<td id="is_active">{{object.is_active}}</td>
				<td id="is_staff">{{object.is_staff}}</td>
				<td>{{object.date_joined}}</td>
				<td>{{object.last_login}}</td>

				
			</tr>


		</tbody>

	</table>
			
{%if perms.object.can_change_user%}
		<div class="row">
			<div class="col">
	        <div class="col-md text-center mb-3">


		<a href="/Registro/update/{{object.id}}" class="btn btn-warning btn-ms rounded-pill border  m-3"><strong>EDITAR</strong></a>
{%endif%}
			</div></div>
			<div class="col">
					        <div class="col-md text-center mb-3">

{%if perms.object.can_delete_user%}
			<button class="btn btn-danger btn-xs rounded-pill border  m-3" onclick="return eliminar()" type="submit"><strong>ELIMINAR</strong></button>
{%endif%}
							</div>				</div>

			<div class="col">
	        <div class="col-md text-center mb-3	">
			<a href="javascript:history.back(-1);" class="btn btn-secondary btn-xs rounded-pill border  m-3" title="Ir la página anterior"><strong>VOLVER</strong></a>
			</div>
			</div>
			</div>

</div>




    <div class="col">
        <div class="col-md">
            
        </div>
    </div>

</div>


<script type="text/javascript">
	var grupo = "{{object.groups.all}}";
	var entrega = grupo.slice(25,-9);
	document.getElementById('grupo').innerHTML = entrega;
	var staff = document.getElementById('is_staff').innerText;
	var activo = document.getElementById('is_active').innerText;

	if(staff == 'True'){
		document.getElementById('is_staff').innerHTML = 'Si'
	}else{
		document.getElementById('is_staff').innerHTML = 'No'
	}
		if(activo == 'True'){
		document.getElementById('is_active').innerHTML = 'Si'
	}else{
		document.getElementById('is_active').innerHTML = 'No'
	}
</script>


<script type="text/javascript">

      function eliminar() {
        var x = confirm("¿ Seguro de eliminar este Usuario ?");
        if (x)

            return true;
        else
            return false;
      }
</script>



{%endblock%}