{%extends 'register/index.html'%}
{%load static%}
{% load widget_tweaks %}
{%block head%}


<style>
    input[type=number]::-webkit-outer-spin-button,
    input[type=number]::-webkit-inner-spin-button {

        -webkit-appearance: none;

        margin: 0;

    }


    .select {
        overflow: hidden;
    }

    input[type=number] {

        -moz-appearance: textfield;

    }

</style>
{%endblock%}

{%block content%}

<div class="container">
    <div class="d-flex justify-content-center">
        <h3>LISTA DEGLI UTENTI</h3>
    </div>
    <hr>
</div>


<table id="tabla" class="table table-responsive border table-striped table-bordered" style="box-shadow:2px 2px 2px;">


    <thead style="background-color:#138496;color:#fff">
    <th class="col-md text-center" style="width:5rem;">Id</th>
    <th class="col-md text-center" style="width:15rem;">Cognome</th>
    <th class="col-md text-center" style="width:5rem;">Nome utente</th>
    <th class="col-md text-center" style="width:5rem;">Cellulare</th>
    <th class="col-md text-center" style="width:15rem;">Email</th>
    <th class="col-md text-center" style="width:15rem;">Gruppo</th>
    <th class="col-md text-center" style="width:25rem;">Azione</th>
    </thead>

    {%for cliente in pub%}

    <form method="POST" action="{%url 'deleteUsuario' cliente.id%}">
        {% csrf_token %}

        <tr>
            <td class="col-md text-center" style="width:5rem;">{{cliente.id}}</td>

            <td class="col-md text-center" style="width:5rem;">{{cliente.last_name}}</td>
            <td class="col-md text-center" style="width:5rem;">{{cliente.username}}</td>

            <td class="col-md text-center" style="width:15rem;">{{cliente.telefono}}</td>
            <td class="col-md text-center" style="width:15rem;">{{cliente.email}}</td>
            <td class="col-md text-center" style="width:25rem;">{%for group in cliente.groups.all%}
                {{group}}{%endfor%}
            </td>

            <td class="col-md text-center" style="width:25rem;">


                <div class="dropup">

                    <button type="button" class="btn btn-secondary btn-sm" data-toggle="dropdown">
                        <i class="fas fa-angle-double-up"></i> Opzioni
                    </button>

                    <div class="dropdown-menu text-center" style="position: unset;">
                        <h6 class="dropdown-header">Utenti {{cliente.id}}</h6>
                        <a class="dropdown-item btn-sm" href="{%url 'detailUsuario' cliente.id %}"><i class="fas fa-info-circle"></i> Dettaglio</a>
                        <a class="dropdown-item btn-sm" href="{%url 'updateUsuario' cliente.id %}"><i class="fas fa-pen-square"></i> Modifica</a>
                        {% if perms.Register.Administrador %}

                            <button  class="btn btn-danger btn-sm" style="margin-bottom:2px;" onclick="return confirm('Seguro de eliminar {{cliente.last_name}}')"  type="submit"><strong><i class="fas fa-trash-alt"></i> Rimuovere</strong></button>


                    </div>
                </div>
                {%endif%}


            </td>
        </tr>



    </form>


    {%endfor%}


</table>
{%if perms.Register.Administrador or perms.Register.Encargado or perms.Register.Secretaria%}
<a href="{%url 'createUsuario'%}" class="btn btn-secondary" id="jamaica8"><i id="japon" class="fas fa-plus-circle"></i> Aggiungi utenti</a>
{%endif%}
<div class="container">
    <div class="d-flex justify-content-center mt-2">
        {%if pub.has_previous%}

        <a href="?{{ request.get_full_path }}&page1={{pub.previous_page_number}}"
           style="box-shadow:2px 2px 2px;" class="btn btn-light fgcolor-black mr-1 btn-sm rounded-pill border" type="submit">
            <strong>Atras</strong></a>{%endif%}
        {%if pub.has_next%}
        <a href="?{{ request.get_full_path }}&page1={{pub.next_page_number}}&page=Myfilter"
           style="box-shadow:2px 2px 2px;" class="btn btn-light fgcolor-black btn-sm rounded-pill border" type="submit">
            <strong>Siguiente</strong></a>
        {%endif%}
    </div>
    <hr>
</div>

<script src="https://use.fontawesome.com/releases/v5.13.0/js/all.js" data-auto-replace-svg="nest"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.12.4/jquery.min.js" type="text/javascript"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" type="text/javascript"></script>


<script>
    var hola = document.getElementById("jamaica8");
    console.log(hola)
    if (hola) {
        hola.addEventListener("mouseenter", function (event) {

            var japon = document.getElementById("japon").className = "fas fa-plus-circle fa-spin";

        });
        hola.addEventListener("mouseleave", function (event) {
            var japon = document.getElementById("japon").className = "fas fa-plus-circle";
        });
    }
    var hola2 = document.getElementById("jamaica2");
    if (hola2) {
        hola2.addEventListener("mouseenter", function (event) {

            var japon2 = document.getElementById("japon2").className = "far fa-paper-plane fa-spin";

        });
        hola2.addEventListener("mouseleave", function (event) {
            var japon2 = document.getElementById("japon2").className = "far fa-paper-plane";
        });
    }
    var hola3 = document.getElementById("jamaica3");
    if (hola3) {
        hola3.addEventListener("mouseenter", function (event) {

            var japon3 = document.getElementById("japon3").className = "fas fa-chevron-circle-left fa-spin";

        });
        hola3.addEventListener("mouseleave", function (event) {
            var japon3 = document.getElementById("japon3").className = "fas fa-chevron-circle-left";
        });
    }
    var hola4 = document.getElementById("jamaica4");
    if (hola4) {
        hola4.addEventListener("mouseenter", function (event) {

            var japon4 = document.getElementById("japon4").className = "fas fa-plus-circle fa-spin";

        });
        hola4.addEventListener("mouseleave", function (event) {
            var japon4 = document.getElementById("japon4").className = "fas fa-plus-circle";
        });
    }
</script>

{%endblock%}


