{%extends 'register/base.html'%}
{%load static%}
{% load widget_tweaks %}
{%block title%}LISTA DE PRODUCTOS{%endblock%}
{%block head%}

{%endblock%}


{%block graficos%}Graficos{%endblock%}

{%block total%}{{total}}{%endblock%}

{%block filtros%}Productos{%endblock%}

{%block tituloListado%}LISTADO PRODUCTOS{%endblock%}

{%block thead%}
<th class="col-xs"></th>
<th class="col-xs"></th>
<th class="col-xs"></th>
<th class="col-xs">id</th>
<th class="col-xs">Apellido</th>
<th class="col-xs">Nombre de usuario</th>
<th class="col-xs">Teléfono</th>
<th class="col-xs">Email</th>
<th class="col-xs">Grupo</th>
<th class="col-xs">Acciones</th>
<th class="col-xs"></th>
<th class="col-xs"></th>

{%endblock thead%}

{%block formulario%}
{%for user in object_list%}
<form method="POST" action="/Registro/delete/{{user.id}}">
    {% csrf_token %}

    <tr>
        <td class="col-xs"></td>
        <td class="col-xs"></td>
        <td class="col-xs"></td>

        <td>{{user.id}}</td>
        <td>{{user.first_name}}</td>
        <td>{{user.last_name}}</td>
        <td>{{user.username|truncatechars:10}}</td>
        <td>{{user.telefono|truncatechars:12}}</td>
        <td>{{user.email|truncatechars:10}}</td>
        <td>{%for group in user.groups.all%}
            {{group}}{%endfor%}
        </td>

        <td>
            <a href="/Registro/detail/{{user.id}}" class="btn btn-success rounded-pill border"><strong>Ver</strong></a>
            {% if perms.Register.Administrador or perms.Register.Secretaria or perms.Register.Encargado  %}

            <a href="/Registro/update/{{user.id}}"
               class="btn btn-warning rounded-pill border"><strong>Editar</strong></a>
            {%endif%}
            {% if perms.Register.Administrador %}

            <button class="btn btn-danger btn-sm rounded-pill border" data-toggle="modal" data-target="#exampleModal"
                    type="button"><strong>Eliminar</strong></button>
            {%endif%}
        </td>
    </tr>
	<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog"
     aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exa mpleModalLabel">ELIMINAR</h5>
                <button type="button" class="close" data-dismiss="modal"
                        aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                ¿Seguro de eliminar este producto?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary rounded-pill" data-dismiss="modal">
                    Cerrar
                </button>
                <button type="submit" class="btn btn-danger rounded-pill">Si, adelante</button>
            </div>
        </div>
    </div>
</div>
</form>
{%endfor%}
<!-- Modal -->


{%endblock formulario%}
{% block pagination %}
{%if page_obj.has_previous%}
<a href="?page={{page_obj.previous_page_number}}"
   class="btn btn-light fgcolor-black btn-sm rounded-pill border" type="submit">
    <strong>Atras</strong></a>{%endif%}
{%if page_obj.has_next%}
<a href="?page={{page_obj.next_page_number}}"
   class="btn btn-light fgcolor-black btn-sm rounded-pill border" type="submit">
    <strong>Siguiente</strong></a>
{%endif%}
{%endblock%}
