{%extends 'register/base.html'%}
{%load static%}
{% load widget_tweaks %}
{%block head%}
<style>

input[type=number]::-webkit-outer-spin-button,

input[type=number]::-webkit-inner-spin-button {

    -webkit-appearance: none;

    margin: 0;

}



input[type=number] {

    -moz-appearance:textfield;

}
.btn{
width:50%;
}
</style>
{%endblock%}



{%block jumbo%}CREAR USUARIO{%endblock%}


{%block content%}



<div class="row ">
    <div class="col">
        <div class="col-md">
            
        </div>
    </div>



    <div class="col m-2 text-center bg-light border rounded">
        <div class="col-md">
        	<form method="post">
				{% csrf_token %}

            <label for="username" class="mt-2"><h5><strong>Nombre de Usuario:</strong></h5></label>
            {{form.username|add_class:"form-control text-center"}}

            <label for="first_name"  class="mt-2"><h5><strong>Nombre:</strong></h5></label>
			{{form.first_name|add_class:"form-control text-center"}} 

			<label for="last_name"  class="mt-2"><h5><strong>Apellido:</strong></h5></label>
			{{form.last_name|add_class:"form-control text-center"}}  

			<label for="telefono"  class="mt-2"><h5><strong>Teléfono:</strong></h5></label>
			{{form.telefono|add_class:"form-control text-center"}}  

			<label for="email"  class="mt-2"><h5><strong>Email:</strong></h5></label>
			{{form.email|add_class:"form-control text-center"}}

			<label for="groups"  class="mt-2"><h5><strong>Tipo de Usuario:</strong></h5></label>
		  	{{form.groups|add_class:"form-control text-center"}}

		  	<label for="is_active"  class="mt-2"><h5><strong>¿Usuario Activo?</strong></h5></label>
		   	{{form.is_active|add_class:"form-control text-center"}}

		   	<label for="is_staff"  class="mt-2"><h5><strong>¿Permitir ver administrador?</strong></h5></label>
		   	{{form.is_staff|add_class:"form-control text-center"}}

		   	<label for="password"  class="mt-2"><h5><strong>Password:</strong></h5></label>
		 	{{form.password}}

   			<button type="submit" class="btn btn-primary m-2 rounded-pill border"><strong>ENVIAR</strong></button>
				<a href="javascript:history.back(-1);" class="btn btn-secondary border m-2 rounded-pill"><strong>VOLVER</strong></a>

		</div>

    </div>




    <div class="col">
        <div class="col-md">
            
        </div>
    </div>


{%endblock%}