{%extends 'register/index.html'%}
{%load static%}
{% load widget_tweaks %}

{%block head%}
<style>

input[type=number]::-webkit-outer-spin-button,

input[type=number]::-webkit-inner-spin-button {

    -webkit-appearance: none;

    margin: 0;

}


 .select { overflow:hidden; }

input[type=number] {

    -moz-appearance:textfield;

}
}
#id_fotos{
	height: 4rem;
	padding-top: 1.2rem;
}









</style>
{%endblock%}


{%block content%}

{% if perms.Register.Administrador or perms.Register.Encargado or perms.Register.Secretaria  %}

<div class="container">
    <div class="d-flex justify-content-center">
    <h3>CREARE CLIENTI</h3>
    </div>
    <hr>
</div>

<form method="POST">
    {%csrf_token%}

    <div class="row">

        <div class="col">
            {{form.first_name|attr:"placeholder:Nombre"|add_class:"form-control font-weight-bold rounded-pill m-2            text-center"}}
        </div>
        <div class="col">
            {{form.last_name|attr:"placeholder:Apellido"|add_class:"form-control font-weight-bold rounded-pill m-2  text-center"}}
        </div>
    </div>
    <div class="row">
        <div class="col">
            {{form.username|attr:"placeholder:Nombre de usuario"|add_class:"form-control m-2 font-weight-bold rounded-pill text-center"}}
        </div>

        <div class="col">
            {{form.telefono|attr:"placeholder:Teléfono"|add_class:"form-control font-weight-bold rounded-pill m-2            text-center"}}

        </div>
        <div class="col">
            {{form.email|attr:"placeholder:Email"|add_class:"form-control font-weight-bold rounded-pill m-2  text-center"}}

        </div>
    </div>

    <div class="row">
        <div class="col">
            {{form.groups|add_class:"form-control rounded-pill m-2 font-weight-bold font-weight-bold text-center"}}

        </div>
        <div class="row">
            <div class="col">
                <label for="is_active" class="mt-1 mb-4 ml-5"><h5><strong>Miembro activo</strong></h5></label>
                {{form.is_active|add_class:"form-control rounded-pill text-center"}}
            </div>
            <div class="col">
                {% if perms.Register.Administrador %}
                <label for="is_active" class="mt-1 ml-5"><h5><strong>¿Permitir ver administrador?</strong></h5>
                </label>

                {{form.is_staff|add_class:"form-control text-center"}}
                {%endif%}
            </div>

        </div>
    </div>

<div class="d-flex justify-content-center">
    {{form.password|attr:'type:password'|add_class:" col-4 m-2 form-control text-center    font-weight-bold"|attr:"placeholder:Password"}}
</div>
    <div class="d-flex justify-content-center">

        <button type="submit" class="btn btn-primary m-2 rounded-pill border"><strong>ENVIAR</strong></button>
        <a href="javascript:history.back(-1);"
           class="btn btn-secondary border m-2 rounded-pill"><strong>VOLVER</strong></a>.
    </div>

</form>


{%else%}
<div class="justify-content-center">
    <h1 class="text-center">{{user|upper}} no hai il permesso di accedere a questa pagina</h1>
    <div class="d-flex justify-content-center">
        <a href="javascript:history.back(-1);"
           class="btn btn-secondary border m-2 rounded-pill text-center"><strong>VOLVER</strong></a>
    </div>
</div>
{%endif%}


{%endblock%}