{%extends 'register/index.html'%}
{%load static%}
{% load widget_tweaks %}
{%block head%}

<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<style>


input[type=number]::-webkit-inner-spin-button {

    -webkit-appearance: none;

    margin: 0;

}


 .select { overflow:hidden; }

input[type=number] {

    -moz-appearance:textfield;

}

</style>

{%endblock%}

{%block content%}

{%if perms.Register.Administrador or perms.Register.Encargado or perms.Register.Secretaria%}

        <div class="container">
            <div class="d-flex justify-content-center">
                <h3>CREARE ORDINI</h3>
            </div>
            <hr>
        </div>


<form method="POST">
    {%csrf_token%}

    <div class="row">

        <div class="col">
            {{form.producto|attr:"placeholder:Prodotto"|add_class:"form-control font-weight-bold rounded-pill m-2            text-center"}}
        </div>
        <div class="col">
            {{form.descripcion|attr:"placeholder:Descrizione"|add_class:"form-control font-weight-bold rounded-pill m-2            text-center"}}
        </div>
    </div>
    <div class="row">
        <div class="col">
            {{form.cantidad_recibida|attr:"placeholder:Quantità ricevuta"|add_class:"form-control m-2 font-weight-bold            rounded-pill text-center"}}
        </div>

        <div class="col">
            {{form.estado|attr:"placeholder:Stato"|add_class:"form-control font-weight-bold rounded-pill m-2            text-center"}}

        </div>
        <div class="col">
            {{form.ubicacion|attr:"placeholder:Email"|add_class:"form-control font-weight-bold rounded-pill m-2            text-center"}}

        </div>
    </div>

    <div class="row">
        <div class="col">
            {{form.fecha_entrega_estimada|attr:"placeholder:Data di consegna stimata YYYY-MM-DD"|attr:"id:fecha_entrega_estimada"|add_class:"form-control rounded-pill m-2 font-weight-bold font-weight-bold text-center"}}

        </div>

        <div class="col">
            {{form.asignado|add_class:"form-control rounded-pill m-2 font-weight-bold font-weight-bold text-center"}}
        </div>

    </div>


    <div class="d-flex justify-content-center">

        <a href="javascript:history.back(-1);"
           class="btn btn-secondary border m-2 rounded-pill" id="jamaica"><strong><i id="japon" class="fas fa-chevron-circle-left"></i> RITORNARE</strong></a>.
        <button type="submit" id="jamaica2" class="btn btn-primary m-2 rounded-pill border"><strong><i id="japon2" class="far fa-paper-plane"></i> INVIARE</strong></button>
    </div>

</form>


  <script>

    $("#fecha_entrega_estimada").datepicker({
        dateFormat: "dd-mm-yy"
    });
</script>
<script>
document.getElementById("producto").options[0].innerText = "Selezionare un producto...";
document.getElementById("producto").options[0].disabled = 'true';

document.getElementById("asignado").options[0].innerText = "Selezionare chi assegnare...";
document.getElementById("asignado").options[0].disabled = 'true';

document.getElementById("estado").options[0].innerText = "Selezionare uno stato...";
document.getElementById("estado").options[0].disabled = 'true';

document.getElementById("ubicacion").options[0].innerText = "Selezionare una ubicazione..";
document.getElementById("ubicacion").options[0].disabled = 'true';



</script>

{%else%}
<div class="justify-content-center">
    <h1 class="text-center">{{user|upper}} no hai il permesso di accedere a questa pagina</h1>
    <div class="d-flex justify-content-center">
        <a href="javascript:history.back(-1);"
           class="btn btn-secondary border m-2 rounded-pill text-center"><strong><i class="fas fa-chevron-circle-left"></i> RITORNARE</strong></a>
    </div>
</div>


{%endif%}
<script>
    var hola = document.getElementById("jamaica");
    hola.addEventListener("mouseenter", function (event) {

        var japon = document.getElementById("japon").className = "fas fa-chevron-circle-left fa-spin";

    });
    hola.addEventListener("mouseleave", function (event) {
        var japon = document.getElementById("japon").className = "fas fa-chevron-circle-left";
    });
    var hola2 = document.getElementById("jamaica2");

    hola2.addEventListener("mouseenter", function (event) {

        var japon2 = document.getElementById("japon2").className = "far fa-paper-plane fa-spin";

    });
    hola2.addEventListener("mouseleave", function (event) {
        var japon2 = document.getElementById("japon2").className = "far fa-paper-plane";
    });

    var hola3 = document.getElementById("jamaica3");

    hola3.addEventListener("mouseenter", function (event) {

        var japon3 = document.getElementById("japon3").className = "fas fa-chevron-circle-left fa-spin";

    });
    hola3.addEventListener("mouseleave", function (event) {
        var japon3 = document.getElementById("japon3").className = "fas fa-chevron-circle-left";
    });
</script>
{%endblock%}