{%extends 'register/base.html'%}
{%load static%}
{% load widget_tweaks %}

{%block title%}Detalle{%endblock%}
{%block head%}

<style>
	.btn{
	width:70%}
</style>
{%endblock%}

{%block jumbo%}DETALLES DE ORDEN{%endblock%}

{%block content%}

<div class="container-fluid">

<div class="row ">
    <div class="col">
        <div class="col-md">

        </div>
    </div>

<div class="list-group mt-3">
	<table class="table table-striped table-hover rounded border table-sm">

		<thead class="thead-dark text-center ">
			<th>Nº Orden</th>
			<th>Descripción</th>
			<th>Producto</th>
			<th>Fecha de Ingreso</th>
			<th>Estado</th>
			<th>Ubicación</th>
			<th>Fecha de Entrega Estimada</th>
			<th>Asignado a</th>
			<th>Modificado por</th>
			<th id="fecha_entrega_real1">Fecha entrega real</th>

		</thead>
		<tbody class="thead-light text-center">

		<form method="POST" action="/Ordenes/delete/{{object.orden}}">
        				{% csrf_token %}
			<tr>
				<td>{{object.orden}}</td>
				<td>{{object.descripcion}}</td>
				<td>{{object.producto}}</td>
				<td>{{object.fecha_ingreso}}</td>
				<td>{{object.estado}}</td>
				<td>{{object.ubicacion}}</td>
                <td>{{object.fecha_entrega_estimada}}</td>
                <td>{{object.asignado}}</td>
				<td>{{object.usuarios}}</td>
				<td id="fecha_entrega_real">{{object.fecha_entrega_real}}</td>

			</tr>


		</tbody>

	</table>
<div class="row">
		<div class="col">
			<div class="col-md text-center mb-3">
			<a href="/Ordenes/update/{{object.orden}}" class="btn btn-warning btn-xs rounded-pill border  m-3"><strong>EDITAR</strong></a>
				</div>
		</div>
		<div class="col">
			<div class="col-md text-center mb-3">
				<button class="btn btn-danger btn-xs rounded-pill border  m-3" onclick="return eliminar()" type="submit"><strong>ELIMINAR</strong></button>
				</div>
		</div>

		<div class="col">
			<div class="col-md text-center mb-3">
				<a href="javascript:history.back(-1);" class="btn btn-secondary btn-xs rounded-pill border border  m-3"><strong>VOLVER</strong></a>
</div>
		</div>
	</div>
</div>




    <div class="col">
        <div class="col-md">

        </div>
    </div>

</div>
<script type="text/javascript">

      function eliminar() {
        var x = confirm("¿ Seguro de eliminar este Usuario ?");
        if (x)

            return true;
        else
            return false;
      }

      	</script>

	<script type="text/javascript">
	var ocultar = document.getElementById('fecha_entrega_real').innerHTML;

	if (ocultar == 'None'){
   $("#fecha_entrega_real").css("display", "none");
   $("#fecha_entrega_real1").css("display", "none");
}

	</script>


{%endblock%}