{%extends 'register/base.html'%}
{%load static%}
{% load widget_tweaks %}

{%block title%}DETALLE DE CLIENTE{%endblock%}

{%block jumbo%}DETALLE DE CLIENTE{%endblock%}

{%block head%}

<style>
	.btn{
	width:70%}
</style>
{%endblock%}

{%block content%}

<div class="container-fluid">

<div class="row ">
    <div class="col">
        <div class="col-md">

        </div>
    </div>

<div class="list-group mt-3">
	<table class="table table-striped table-hover rounded border table-sm">

		<thead class="thead-dark text-center ">
			<th>Rut</th>
			<th>Nombre Organización</th>
			<th>Nombre</th>
			<th>Apellido</th>
			<th>Dirección 1</th>
			<th>Dirección 2</th>
			<th>Ciudad</th>
			<th>Teléfono</th>
			<th>Celular</th>
			<th>Email</th>
			<th>Tipo de cliente</th>
            <th>Creado por</th>

		</thead>
		<tbody class="thead-light text-center">

		<form method="POST" action="/Clientes/delete/{{object.rut}}">
        				{% csrf_token %}
			<tr>
				<td>{{object.rut}}</td>
				<td>{{object.nombre_organizacion}}</td>
				<td>{{object.nombre}}</td>
				<td>{{object.apellido}}</td>
				<td>{{object.direccion1}}</td>
				<td>{{object.direccion2}}</td>
				<td>{{object.ciudad}}</td>
				<td>{{object.telefono}}</td>
				<td>{{object.celular}}</td>
                <td>{{object.email}}</td>
                <td>{{object.tipo_cliente}}</td>
                <td>{{object.usuarios}}</td>
			</tr>

		</tbody>

	</table>
<div class="row">
		<div class="col">
			<div class="col-md text-center mb-3">
			<a href="/Clientes/update/{{object.rut}}" class="btn btn-warning btn-xs rounded-pill border  m-3"><strong>EDITAR</strong></a>
</div>
		</div>
		<div class="col">
			<div class="col-md text-center mb-3">

				<button class="btn btn-danger btn-xs rounded-pill border  m-3" onclick="return eliminar()" type="submit"><strong>ELIMINAR</strong></button>
			</div>
		</div>

		<div class="col">
			<div class="col-md text-center mb-3">
				<a href="javascript:history.back(-1);" class="btn btn-secondary btn-xs rounded-pill border border  m-3"><strong>VOLVER</strong></a>
		</div>
		</div>
	</div>
</div>
    <div class="col">
        <div class="col-md">

        </div>
    </div>

<script type="text/javascript">

      function eliminar() {
        var x = confirm("¿ Seguro de eliminar este Usuario ?");
        if (x)

            return true;
        else
            return false;
      }
</script>

{%endblock%}