{%extends 'register/base.html'%}
{%load static%}
{% load widget_tweaks %}
{%block title%}LISTA DE PRODUCTOS{%endblock%}
{%block head%}

{%endblock%}


{%block graficos%}Graficos{%endblock%}

{%block total%}{{total}}{%endblock%}

{%block filtros%}Clientes{%endblock%}

{%block tituloListado%}LISTADO CLIENTES{%endblock%}

{%block thead%}
<th class="col-xs"></th>
<th class="col-xs"></th>
<th class="col-xs"></th>

<th class="col-xs">Rut</th>
<th class="col-xs">Nombre Organizacion</th>
<th class="col-xs">Ciudad</th>
<th class="col-xs">Celular</th>
<th class="col-xs">Email</th>
<th class="col-xs">Tipo de cliente</th>
<th class="col-xs"></th>
<th class="col-xs"></th>



{%endblock thead%}

{%block formulario%}
{%for user in object_list%}
<form method="POST" action="/Clientes/delete/{{producto.id}}">
    {% csrf_token %}

    <tr>
        <td class="col-xs"></td>
        <td class="col-xs"></td>
        <td class="col-xs"></td>

        <td class="col-xs">{{user.rut}}</td>
        <td class="col-xs">{{user.nombre_organizacion}}</td>
        <td class="col-xs">{{user.ciudad}}</td>
        <td class="col-xs">{{user.celular}}</td>
        <td class="col-xs">{{user.email|truncatechars:10}}</td>
        <td class="col-xs">{{user.tipo_cliente}}</td>
        <td class="col-xs">
            <a href="/Clientes/detail/{{user.rut}}"
               class="btn btn-success btn-sm rounded-pill border"><strong>Ver</strong></a>
            <a href="/Clientes/update/{{user.rut}}"
               class="btn btn-warning btn-sm rounded-pill border"><strong>Editar</strong></a>
                            {% if perms.Register.Administrador %}

            <button class="btn btn-danger btn-sm rounded-pill border" data-toggle="modal" data-target="#exampleModal"
                    type="button"><strong>Eliminar</strong></button>
                                {%endif%}
        </td>
    </tr>
</form>
{%endfor%}
<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog"
     aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exa mpleModalLabel">ELIMINAR</h5>
                <button type="button" class="close" data-dismiss="modal"
                        aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                ¿Seguro de eliminar este producto?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary rounded-pill" data-dismiss="modal">
                    Cerrar
                </button>
                <button type="submit" class="btn btn-danger rounded-pill">Si, adelante</button>
            </div>
        </div>
    </div>
</div>

{%endblock formulario%}

{% block pagination %}
{%if page_obj.has_previous%}
<a href="?page={{page_obj.previous_page_number}}"
   class="btn btn-light fgcolor-black btn-sm rounded-pill border" type="submit">
    <strong>Atras</strong></a>{%endif%}
{%if page_obj.has_next%}
<a href="?page={{page_obj.next_page_number}}"
   class="btn btn-light fgcolor-black btn-sm rounded-pill border" type="submit">
    <strong>Siguiente</strong></a>
{%endif%}
{%endblock%}

