{%extends 'register/index.html'%}
{%load static%}
{% load widget_tweaks %}
{%block head%}


<style>
    input[type=number]::-webkit-outer-spin-button,
    input[type=number]::-webkit-inner-spin-button {

        -webkit-appearance: none;

        margin: 0;

    }


    .select {
        overflow: hidden;
    }

    input[type=number] {

        -moz-appearance: textfield;

    }

</style>
{%endblock%}

{%block content%}

<div class="container">
    <div class="d-flex justify-content-center">
        <h3>LISTA DEGLI ORDINI</h3>
    </div>
    <hr>
</div>
<div class="container">
    <div class="d-flex justify-content-center">
        <h4><i class="fas fa-filter"></i> Filtri</h4>
    </div>

    <form method="get">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-sm">
                    <label for="orden" class="text-center container">P.Iva</label>
                    {{myFilter.form.rut|add_class:"form-control container text-center"}}
                </div>
                <div class="col-sm">
                    <label for="nombre_organizacion" class="text-center container">Nome organizzazione</label>
                    {{myFilter.form.nombre_organizacion|attr:"style:margin-bottom:1.3rem"|add_class:"form-control font-weight-bold container text-center"}}
                </div>
                <div class="col-sm">
                    <label for="nombre" class="text-center container">Nome</label>
                    {{myFilter.form.nombre|add_class:"form-control font-weight-bold container text-center"}}
                </div>
                <div class="col-sm">
                    <label for="apellido" class="text-center container">Cognome</label>
                    {{myFilter.form.apellido|add_class:"form-control font-weight-bold container text-center"}}
                </div>
                <div class="col-sm">
                    <label for="email" class="text-center container">Email</label>
                    {{myFilter.form.email|add_class:"form-control font-weight-bold container text-center"}}
                </div>
                <div class="col-sm">
                    <button class="btn rounded-pill border" style="margin-top:1.8rem;color:#fff ;background-color:#138496;" type="submit"><STRONG> CERCHI</STRONG></button>
                </div>

            </div>
        </div>

    </form>


    <table id="tabla" class="table table-responsive border table-striped table-bordered" style="box-shadow:2px 2px 2px;">


        <thead style="background-color:#138496;color:#fff">
        <th class="col-md text-center" style="width:5rem;">P.Iva</th>
        <th class="col-md text-center" style="width:15rem;">Nome organizzazione</th>
        <th class="col-md text-center" style="width:25rem;">Nome</th>
        <th class="col-md text-center" style="width:5rem;">Città</th>
        <th class="col-md text-center" style="width:5rem;">Cellulare</th>
        <th class="col-md text-center" style="width:15rem;">Email</th>
        <th class="col-md text-center" style="width:15rem;">Tipo di cliente</th>
        <th class="col-md text-center" style="width:15rem;">Azzione</th>

        </thead>

        {%for cliente in pub%}

        <form method="POST" action="/Clientes/delete/{{cliente.rut}}">
            {% csrf_token %}


            <tr>
                <td class="col-md text-center" style="width:5rem;">{{cliente.rut}}</td>
                <td class="col-md text-center" style="width:15rem; ">{{cliente.nombre_organizacion}}</td>
                <td class="col-md text-center" style="width:5rem;">{{cliente.nombre}}</td>
                <td class="col-md text-center" style="width:5rem;">{{cliente.ciudad}}</td>
                <td class="col-md text-center" style="width:15rem;color:darkslateblue"><a target="_blank" href="https://api.whatsapp.com/send?phone={{cliente.celular}}">{{cliente.celular}}</a></td>
                <td class="col-md text-center" style="width:15rem;color: darkslateblue"><a href="mailto:{{cliente.email}}">{{cliente.email}}</a></td>
                <td class="col-md text-center" style="width:25rem;">{{cliente.tipo_cliente}}</td>

                <td class="col-md text-center" style="width:50rem;">

                    <div class="dropup">

                        <button type="button" class="btn btn-secondary btn-sm" data-toggle="dropdown">
                            <i class="fas fa-angle-double-up"></i> Opzioni
                        </button>

                        <div class="dropdown-menu text-center" style="position: unset;">
                            <h6 class="dropdown-header">P.Iva {{cliente.rut}}</h6>
                            <a class="dropdown-item btn-sm" href="{%url 'detailClientes' cliente.rut %}"><i class="fas fa-info-circle"></i> Dettaglio</a>
                            <a class="dropdown-item btn-sm" href="{%url 'updateClientes' cliente.rut %}"><i class="fas fa-pen-square"></i> Modifica</a>
                            {% if perms.Register.Administrador %}

                            <button class="btn btn-danger btn-sm" style="margin-bottom:2px;" data-toggle="modal"
                                    data-target="#exampleModal1"
                                    type="button"><strong><i class="fas fa-trash-alt"></i> Rimuovere</strong></button>
                            {%endif%}
                        </div>

                </td>
            </tr>
            <div class="modal fade" id="exampleModal1" tabindex="-1" role="dialog"
                 aria-labelledby="exampleModalLabel1" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel1">RIMUOVERE</h5>
                            <button type="button" class="close" data-dismiss="modal"
                                    aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            Sicuro di rimuovere il cliente {{cliente.nombre_organizacion}}?
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary rounded-pill" data-dismiss="modal">
                                Chiudere
                            </button>
                            <button type="submit" class="btn btn-danger rounded-pill"><i class="fas fa-trash-alt"></i> Si, avanti</button>
                        </div>
                    </div>
                </div>
            </div>


        </form>


        {%endfor%}


    </table>
    {%if perms.Register.Administrador or perms.Register.Secretaria or perms.Register.Encargado %}
    <a href="{%url 'createClientes'%}" id="jamaica" class="btn btn-secondary"><i id="japon" class="fas fa-plus-circle"></i> Aggiungi cliente</a>
{%endif%}
    <div class="container">
        <div class="d-flex justify-content-center mt-2">
            {%if pub.has_previous%}

            <a href="?{{ request.get_full_path }}&page1={{pub.previous_page_number}}"
               style="box-shadow:2px 2px 2px;" class="btn btn-light fgcolor-black mr-1 btn-sm rounded-pill border" type="submit">
                <strong>Atras</strong></a>{%endif%}
            {%if pub.has_next%}
            <a href="?{{ request.get_full_path }}&page1={{pub.next_page_number}}&page=Myfilter"
               style="box-shadow:2px 2px 2px;" class="btn btn-light fgcolor-black btn-sm rounded-pill border" type="submit">
                <strong>Siguiente</strong></a>
            {%endif%}
        </div>
        <hr>
    </div>

    <script src="https://use.fontawesome.com/releases/v5.13.0/js/all.js" data-auto-replace-svg="nest"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.12.4/jquery.min.js" type="text/javascript"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" type="text/javascript"></script>


<script>
    var hola = document.getElementById("jamaica");

    hola.addEventListener("mouseenter", function (event) {

        var japon = document.getElementById("japon").className = "fas fa-plus-circle fa-spin";

    });
    hola.addEventListener("mouseleave", function (event) {
        var japon = document.getElementById("japon").className = "fas fa-plus-circle";
    });
</script>




    {%endblock%}
