{%extends 'register/baseRegistro.html'%}
{%load static%}
{% load widget_tweaks %}
{%block head%}
<style>

input[type=number]::-webkit-outer-spin-button,

input[type=number]::-webkit-inner-spin-button {

    -webkit-appearance: none;

    margin: 0;

}


 .select { overflow:hidden; }

input[type=number] {

    -moz-appearance:textfield;

}
.btn{
width:50%;
}
#id_fotos{
	height: 4rem;
	padding-top: 1.2rem;
}

</style>
{%endblock%}


{%block content%}


{% if perms.Register.Administrador or perms.Register.Encargado or perms.Register.Secretaria  %}

<div class="row justify-content-center text-center">
    <div class="col-sm-8 align-self-center text-center">
    <div class="card m-2 text-center m-3 border" style="border-radius:30px; box-shadow:2px 2px 10px #666; text-shadow:2px 2px 10px #666;">
        <div class="card-title">
                <h1 class="card-title">ACTUALIZAR PRODUCTO</h1>
            <hr class="mt-5 ml-2 mr-2">
        </div>
        <div class="card-body">
            <form method="post">
                {% csrf_token %}

                {{form.nombre|attr:"placeholder:Nombre de producto"|add_class:"form-control m-2 font-weight-bold rounded-pill text-center"}}

                {{form.rut |attr:'id:rut'|add_class:"form-control font-weight-bold rounded-pill m-2 text-center"}}

                {{form.material|attr:"placeholder:Material"|add_class:"form-control font-weight-bold rounded-pill m-2 text-center"}}

                {{form.preTratamiento|attr:"rows:3"|attr:"placeholder:Pre Tratamiento"|add_class:"form-control font-weight-bold rounded-pill m-2 text-center"}}

                {{form.plasma|attr:"placeholder:Plasma"|add_class:"form-control font-weight-bold rounded-pill m-2 text-center"}}

                {{form.fondo|attr:"rows:3"|attr:"placeholder:Fondo"|add_class:"form-control rounded-pill m-2 font-weight-bold font-weight-bold text-center"}}

                {{form.deposito|attr:"placeholder:Depósito"|add_class:"form-control rounded-pill m-2 font-weight-bold font-weight-bold text-center"}}

				{{form.finitura|attr:"rows:3"|attr:"placeholder:Finitura"|add_class:"form-control rounded-pill m-2 font-weight-bold font-weight-bold text-center"}}

                {{form.controlCalidad|attr:"placeholder:Control de Calidad"|add_class:"form-control rounded-pill m-2 font-weight-bold font-weight-bold text-center"}}

				{{form.deposito|attr:"placeholder:Depósito"|add_class:"form-control rounded-pill m-2 font-weight-bold font-weight-bold text-center"}}

				{{form.embalaje|attr:"placeholder:Emabalaje"|add_class:"form-control rounded-pill m-2 font-weight-bold font-weight-bold text-center"}}

				{{form.consideraciones|attr:"rows:3"|attr:"placeholder:Consideraciones"|add_class:"form-control rounded-pill m-2 font-weight-bold font-weight-bold text-center"}}

				{{form.fotos|attr:"placeholder:Fotos"|add_class:"form-control rounded-pill m-2 font-weight-bold font-weight-bold text-center"}}

                {{form.telaio|attr:"placeholder:Telaio"|add_class:"form-control rounded-pill m-2 font-weight-bold font-weight-bold text-center"}}


                {% if perms.Register.Administrador or perms.Register.Secretaria%}

                {{form.is_staff|add_class:"form-control text-center"}}
                {%endif%}

                {{form.password|attr:'type:password'|add_class:" rounded-pill m-2 form-control text-center font-weight-bold" |attr:"placeholder:Password"}}

                <button type="submit" class="btn btn-primary m-2 rounded-pill border"><strong>ENVIAR</strong></button>
                <a href="javascript:history.back(-1);"
                   class="btn btn-secondary border m-2 rounded-pill"><strong>VOLVER</strong></a>
            </form>
        </div>
    </div>
    </div>



</div>

{%else%}
<div class="row justify-content-center text-center">
    <div class="col-sm-8 align-self-center text-center">
    <div class="card m-2 text-center m-3 border" style="border-radius:30px; box-shadow:2px 2px 10px #666; text-shadow:2px 2px 10px #666;">
        <div class="card-title">
                <h1 class="card-title">NO TIENES PERMISO PARA ACCEDER A ESTA PÁGINA</h1>
            <hr class="mt-5 ml-2 mr-2">
             <a href="javascript:history.back(-1);"
                   class="btn btn-secondary border m-2 rounded-pill"><strong>VOLVER</strong></a>
        </div>

    </div>
    </div></div>
        {%endif%}



<script>
	var hola = document.getElementById("rut").options[0].innerText = "Seleccione un cliente...";
	var hola = document.getElementById("rut").options[0].disabled = 'true';

	console.log(hola)

</script>
{%endblock%}

<!--todo crear esta vista que aun me falta y arreglar el crear producto e lcartel de la fecha!!!-->

