{% extends 'register/index.html' %}
{% load static %}
{% load widget_tweaks %}
{% block head %}


    <style>
        input[type=number]::-webkit-outer-spin-button,
        input[type=number]::-webkit-inner-spin-button {

            -webkit-appearance: none;

            margin: 0;

        }


        .select {
            overflow: hidden;
        }

        input[type=number] {

            -moz-appearance: textfield;

        }

    </style>
{% endblock %}

{% block content %}
    {% if perms.Register.Administrador or perms.Register.Stock or perms.Register.Encargado %}


        <div class="container">
            <div class="d-flex justify-content-center">
                <h3>LISTA DEGLI ORDINI</h3>
            </div>
            <hr>
        </div>

        <div class="container">
            <div class="d-flex justify-content-center">
                <h4><i class="fas fa-filter"></i> Filtri</h4>
            </div>

            <form method="get" class="text-center mb-2">
                <div class="row">
                    <div class="col-sm">
                        <label for="orden" class="text-center container">n di ordine</label>
                        {{ myFilter.form.orden|attr:"placeholder:n di ordine"|add_class:"form-control font-weight-bold container text-center" }}
                    </div>
                    <div class="col-sm">
                        <label for="tipo_de_movimiento" class="text-center container">Movimiento</label>
                        {{ myFilter.form.tipo_de_movimiento|add_class:"form-control font-weight-bold container text-center" }}
                    </div>
                    <div class="col-sm">
                        <label for="fechaInicial" class="text-center container">Data piu di</label>
                        {{ myFilter.form.fechaInicial|attr:"placeholder:Piu di"|add_class:"form-control font-weight-bold container text-center" }}
                    </div>
                    <div class="col-sm">
                        <label for="fechaFinal" class="text-center container">Data meno di</label>
                        {{ myFilter.form.fechaFinal|attr:"placeholder:Meno di"|add_class:"form-control font-weight-bold container text-center" }}
                    </div>
                    <div class="col-sm">
                        <button class="btn border" style="width:182.8px;height:38px;margin-top:1.8rem ;color:#fff ;background-color:#138496;" type="submit"><strong>CERCHI</strong></button>
                    </div>
                </div>
            </form>
        </div>
        <div class="d-flex justify-content-center">

            <table class=" table-responsive-lg table-striped table-bordered table-hover" style="box-shadow:2px 2px 2px;">


                <thead style="background-color:#138496;color:#fff">
                <th class="col-md text-center" style="width:5rem;">id transazione</th>
                <th class="col-md text-center" style="width:5rem;">Nº di ordine</th>
                <th class="col-md text-center" style="width:5rem;">Prodotto</th>

                <th class="col-md text-center" style="width:15rem;">Tipo di movimento</th>
                <th class="col-md text-center" style="width:5rem;">Quantità</th>
                <th class="col-md text-center" style="width:15rem;">Data</th>
                </thead>
                {% for i in pub %}
                    {% csrf_token %}
                    <tr>
                    <td class="col-md text-center" style="width:5rem;">{{ i.id }}</td>
                    <td class="col-md text-center" style="width:15rem; color: blue"><a href="{% url 'detailOrden' i.orden %} ">{{ i.orden }}</a></td>
                    <td class="col-md text-center" style="color:blue;width:5rem;"><a href="{% url 'detailProductos' i.nombre.id %}">{{ i.nombre.nombre }}</a></td>
                    <td class="col-md text-center" style="width:5rem;">{% if i.tipo_de_movimiento == True %}Aggiungi{% else %}Sottrare{% endif %}</td>
                    <td class="col-md text-center" style="width:5rem;">{{ i.cantidad }} Grs.</td>
                    <td class="col-md text-center" style="width:15rem;">{{ i.fecha }}</td>

                {% endfor %}
            </table>
        </div>
        <div class="container">
            <div class="d-flex justify-content-center mt-2">
                {% if pub.has_previous %}

                    <a href="?{{ request.get_full_path }}&page1={{ pub.previous_page_number }}"
                       style="box-shadow:2px 2px 2px;" class="btn btn-light fgcolor-black mr-1 btn-sm rounded-pill border" type="submit">
                        <strong>Atras</strong></a>{% endif %}
                {% if pub.has_next %}
                    <a href="?{{ request.get_full_path }}&page1={{ pub.next_page_number }}&page=Myfilter"
                       style="box-shadow:2px 2px 2px;" class="btn btn-light fgcolor-black btn-sm rounded-pill border" type="submit">
                        <strong>Siguiente</strong></a>
                {% endif %}
            </div>
            <hr>
        </div>
        </div>
        <script src="https://use.fontawesome.com/releases/v5.13.0/js/all.js" data-auto-replace-svg="nest"></script>

        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.12.4/jquery.min.js" type="text/javascript"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" type="text/javascript"></script>


        <script>
            document.getElementById("id_tipo_de_movimiento").options[0].innerText = "Seleziona movimiento"
            document.getElementById("id_tipo_de_movimiento").options[1].innerText = "Aggiungi"
            document.getElementById("id_tipo_de_movimiento").options[2].innerText = "Sottrare"
        </script>

        <script>
            var hola = document.getElementById("jamaica");

            hola.addEventListener("mouseenter", function (event) {

                var japon = document.getElementById("japon").className = "fas fa-plus-circle fa-spin";

            });
            hola.addEventListener("mouseleave", function (event) {
                var japon = document.getElementById("japon").className = "fas fa-plus-circle";
            });


        </script>
    {% else %}
        no tienes permioso de ingresar aqui
    {% endif %}
{% endblock %}
